<%- include("partials/header.ejs") %>

<h1>Income</h1>
<h2><%= symbol %></h2>

<form id="myForm" method="post" action="/incomestatement">
  <label for="scoreInput">Symbol:</label>
  <input type="text" id="scoreInput" name="symbol" placeholder="Enter a Symbol" required>

  <label for="submit">Submit</label>
  <input id="post" type="submit" value="Get Secrets">
</form>

<div class="response-area">
  <% if (Array.isArray(content) && content.length > 0) { %>
    <% content.forEach((report) => { %>
      <div>
        <h3>Fiscal Date Ending: <%= report.fiscalDateEnding %></h3>
        <p>Reported Currency: <%= report.reportedCurrency %></p>
        <p>Gross Profit: <%= report.grossProfit %></p>
        <p>Total Revenue: <%= report.totalRevenue %></p>
        <!-- Add other fields you want to display -->
      </div>
      <hr>
    <% }) %>
  <% } else { %>
    <% if (content && content === "Error!") { %>
      <p>Error fetching data for <%= symbol %>.</p>
    <% } else { %>
      <p>No data available for <%= symbol %>.</p>
    <% } %>
  <% } %>
</div>


<%- include("partials/footer.ejs") %>
