<%- include("partials/header.ejs") %>

<body>
  <h1>Stock List</h1>
  
  <ul>
      <% stocks.forEach(stock => { %>
          <li>Role: <%= role %>, User ID: <%= stock.user_id %>, Symbol: <%= stock.symbol %></li>
          <form action="/result" method="GET">
              <input type="hidden" name="symbol" value="<%= stock.symbol %>">
              <button type="submit">View <%= stock.symbol %> Details</button>
          </form>
      <% }); %>
  </ul>

  <a href="/">Back to Home</a>

<%- include("partials/footer.ejs") %>
