<%- include("partials/header.ejs") %>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    /* Add your styles here */
    select {
      width: 200px; /* You can adjust the width as needed */
    }

    /* Hide the input initially */
    #customSymbolInput {
      display: none;
    }
  </style>
  <title>Your Form</title>
</head>
<body>

  <form id="myForm" method="post" action="/stockprice">
    <label for="scoreInput">Symbol:</label>
    <select name="symbol" id="symbolSelect">
      <option value="" disabled selected>Select a symbol</option>
      <option value="IBM">IBM</option>
      <option value="TSLA">TSLA</option>
      <option value="AAPL">AAPL</option>
      <option value="KO">KO</option>
      <option value="AMZN">AMZN</option>
      <option value="other">Other</option>
    </select>

  <label for="submit">Submit</label>
  <input id="post" type="submit" value="Get Secrets">
</form>

<h2><%= symbol %></h2>
 
<div class="response-area">
  <% if (Array.isArray(content) && content.length > 0) { %>
    <% content.forEach((price) => { %>
      <div>
        <label for="timestamp">Timestamp:</label>
        <div id="timestamp">
          <%= price.timestamp %>
        </div>
      </div>
      <div>
        <label for="openPrice">Open Price:</label>
        <div id="openPrice">
          <%= price.openPrice || 'N/A' %>
        </div>
      </div>
      <div>
        <label for="highPrice">High Price:</label>
        <div id="highPrice">
          <%= price.highPrice || 'N/A' %>
        </div>
      </div>
      <div>
        <label for="lowPrice">Low Price:</label>
        <div id="lowPrice">
          <%= price.lowPrice || 'N/A' %>
        </div>
      </div>
      <div>
        <label for="closePrice">Close Price:</label>
        <div id="closePrice">
          <%= price.closePrice || 'N/A' %>
        </div>
      </div>
      <div>
        <label for="volume">Volume:</label>
        <div id="volume">
          <%= price.volume || 'N/A' %>
        </div>
      </div>
  
      <hr>
    <% }) %>
  <% } else { %>
    <% if (content && content === "Error!") { %>
      <p>Error fetching stock price data for <%= symbol %>.</p>
    <% } else { %>
      <p>No stock price data available for <%= symbol %>.</p>
    <% } %>
  <% } %>
  
  
  
  </div>
</body>

<%- include("partials/footer.ejs") %>